files:
  "/var/script/echo_env.sh":
    mode: "000755"
    content : |
      #!/bin/bash
      DB_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_HOST)
      DB_USER=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_USER)
      DB_PASS=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PASS)

      echo "<?php";
      echo "define(\"DB_HOST\", \"${DB_HOST}\");"
      echo "define(\"DB_USER\", \"${DB_USER}\");"
      echo "define(\"DB_PASS\", \"${DB_PASS}\");"

container_commands:
  # 念のためconfigディレクトリが無くても作成しておく
  01_mkdir:
    command: "sudo -u webapp mkdir -p config"
  # DB接続情報の出力
  02_output:
    command: |
      sudo /var/script/echo_env.sh > config/database_config.php
